body {
    height: 95vh;
    width: 95;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button {
    margin-top: 25px;
}

h1 {
    color: darkgreen;
    font-family: fantasy;
    font-size: 50px;
}

h2 {
    font-family: fantasy;
    font-size: 20px;
}

p {
    font-family: fantasy;
    font-size: 15px;
}

h3 {
    margin-top: 20px;
    font-family: fantasy;
    font-size: 20px;
}